*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #8076a3;
}

.avatar{
    width: 100px;
    aspect-ratio: 1;
    overflow: 1;
    border-radius: 50%;
}

.avatar img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

